<!DOCTYPE html>
<html>
<head>
  <title>Mj</title>
  <%= stylesheet_link_tag    "mj/application", media: "all" %>
  <%= javascript_include_tag "mj/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
